<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% for message in messages %}
        <div class="alert alert-{{message.level}}">
            {{message}}
        </div>
        {% endfor %}
        <h1> Already have an account? Then SIGN IN. </h1>
        <form method='post' action='/signin' class='mb-2'>
            {% csrf_token %}
            <div class='form-group'>
                <label for='username'>Username</label>
                <input type='text' class='form-control' id='username' name='username'>
            </div>
            <div class='form-group'>
                <label for='pass1'>Password</label>
                <input type='password' class='form-control' id='pass1' name='pass1'>
            </div>
            <button type='submit' class='btn btn-primary'>Log In</button>

        <script src="" async defer></script>
    </body>
</html>